body {
  font-family: arial;
  color: gray;
}
#main{
    margin: 30px 8px;
    padding: 15px;
    border-radius: 5px;
    background: #eee;
}


#title {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50px;
  background: #eeeeee;
  font-size: 2.5rem;
  color: black;
  margin-bottom: 0px;
}
p {
  text-align: center;
  width: 100%;
  background: #eeeeee;
  margin: auto;
  color: black;
  padding-bottom: 45px;
}
#img-div {
  background: white;
  padding: 10px;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
#image {
  max-width: 100%;
  padding: 20px;
}

#tribute-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  color: black;
  
}
#tribute-info ul {
  max-width: 550px;
  text-align: left;
  line-height: 1.6rem;
}
#img-caption{
    background-color: white;
}
#h2{
    color: black;
    font-size: 1.2rem;
    padding: 20px;
}
footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: black;
    font-style: italic  ;
}
cite{
    margin-top: 10px;
}